.App {
  width: 360px;
  font-family: sans-serif;
  box-sizing: border-box;
  border: 1px solid #92b9b9;
  color: rgb(158, 158, 158);
  margin: 20px auto;
}

/* icon */
.check.icon {
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 4px;
  width: 14px;
  height: 14px;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
}

.check.icon::after {
  content: "";
  position: relative;
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 4px;
  width: 14px;
  height: 12px;
  left: -15px;
  top: 5px;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
}

* {
  padding: 0;
  margin: 0;
}
p {
  font-family: -apple-system-font, "Helvetica Neue", Helvetica, STHeiTi,
    sans-serif;
}
/* ul::after {
  content: "";
  display: block;
  clear: both;
} */
ul {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  list-style: none;
  width: 14%;
  height: 14%;
}
.calendarBorder {
  width: 544px;
  height: 490px;
  border: 1px solid #92b9b9;
  border-top: 5px solid #e01f90;
}
.headerborder {
  height: 60px;
  text-align: center;
  position: relative;
}
.headerborder > .bar {
  line-height: 60px;
  text-align: center;
  background-color: rgb(51, 51, 51);
  color: white;
}
.triangle-left {
  position: absolute;
  width: 0;
  height: 0;
  top: 20px;
  left: 20px;
  border-top: 10px solid transparent;
  border-right: 20px solid rgb(42, 87, 157);
  border-bottom: 10px solid transparent;
  cursor: pointer;
}
.triangle-right {
  position: absolute;
  width: 0;
  height: 0;
  top: 20px;
  right: 20px;
  border-top: 10px solid transparent;
  border-left: 20px solid rgb(42, 87, 157);
  border-bottom: 10px solid transparent;
  cursor: pointer;
}

.CalendarDay {
}

.upBtn,
.dropBtn {
  display: none;
  height: 15px;
  width: 15px;
  text-align: center;
  padding: 0 170px 15px 170px;
}
.upBtn.active,
.dropBtn.active {
  display: block;
}
.CalendarDay li {
  width: 14%;
  height: 51px;
  text-align: center;
  vertical-align: bottom;
  line-height: 51px;
}
.CalendarDay li:hover {
  background-color: #f9f7f7;
  cursor: pointer;
}
.weekday {
  padding: 3px 1px 0px 1px;
  height: 19px;
  color: rgb(188, 188, 188);
}

.reminderHeader {
  border-top: 2px solid rgb(232, 232, 232);
  border-bottom: 2px solid rgb(190, 190, 190);
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  color: #6e717c;
  font-size: 14px;
}
.reminderHeader .active {
  font-size: 16px;
  font-weight: bold;
  color: #36619f;
}
.reminderHeader span {
}

.reminderHeader li {
  flex-shrink: 1;
}

.schedule{
  text-align: left;
}
.schedule h5 {
  font-size: 17px;
  color: rgb(25, 25, 25);
  font-style: rgb(25, 25, 25);
  font-weight: bold;
}
.schedule article {
  padding: 8px 35px 8px 20px;
  border-top: 2px solid #f2f2f2;
}

.schedule .operator {
  color: #0f9fcf;
}
.schedule .assigned {
  color: #ffc366;
}
